@-webkit-keyframes moving {
  0% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  50% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}

@keyframes moving {
  0% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  50% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}

@-webkit-keyframes raining {
  0%, 60%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes raining {
  0%, 60%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes lighting {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes lighting {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes snowing {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
  }
  40% {
    opacity: 1;
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(18px);
            transform: translateY(18px);
  }
  80% {
    opacity: 1;
    -webkit-transform: translateY(24px);
            transform: translateY(24px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
}

@keyframes snowing {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
  }
  40% {
    opacity: 1;
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(18px);
            transform: translateY(18px);
  }
  80% {
    opacity: 1;
    -webkit-transform: translateY(24px);
            transform: translateY(24px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
}
